.card {
  margin: 1.6rem;

  &__container {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    display: grid;
    grid-template-columns: 15% 35% 50%;
  }

  &__container:hover{
    filter: brightness(0.9);
  transform: scale(1.1, 1.1);
  }

  &__icon {
    justify-self: center;
    align-self: center;
  }

  &__title {
    color: var(--color-primary-orange);
    justify-self: center;
    align-self: center;
  }

  &__description {
    justify-self: center;
    align-self: center;
    font-size: 1.2rem;
    color: var(--color-ligth-gray);
  }
}

@media (min-width: 768px) {
  .card {
    display: flex;
    gap: 0.5rem;
    margin: 1.6rem 8%;
    &__container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
    &__description {
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  .card {
    margin: 1.6rem 12%;
    &__container {
      gap: 1.2rem;
    }
    &__description {
      font-size: 1.6rem;
      color: var(--color-ligth-gray);
    }
  }
}