.copyrigth {
  &__container {
    display: flex;
    align-items: center;
  }
  &__image {
    padding: 1rem;
    min-width: 50%;
  }
  &__text {
    padding: 1rem;
    min-width: 50%;

    & p {
      font-size: 1.2rem;
    }
  }
}
