.header {
  z-index: 10;
  background-color: transparent;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  &__nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    &__nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem 0;
      padding-right: 10%;
      gap: 1.6rem;
      color: var(--color-ligth-gray);
      background-color: var(--color-primary-black);

      & a {
        color: var(--color-ligth-gray);
      }
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__nav {
      padding-right: 12%;
    }
  }
}
