.program-img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 20px var(--color-ligth-gray);
  object-fit: cover;
}

.partner-img {
  width: 100%;
  filter: grayscale(100%);
}

.copyrigth-img {
  width: 80%;
  filter: grayscale(100%);
}

.a-campaign-img {
  width: 30rem;
  height: 20rem;
  filter: grayscale(100%) brightness(50%) sepia(76%) hue-rotate(340deg)
    saturate(1000%) contrast(85%);
}

.a-about-img {
  width: 20rem;
  height: 10rem;
  filter: grayscale(100%);
}
